<div class="pb-8">
  <div class="user_banner center-block position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("user_banner.jpg")%>);">

    <div class="divider">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class:"avatar-bordered", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% else %>
        <%= image_tag "empty_avatar.jpg", class: "avatar-bordered", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <div class="user-title">
        <h1 style="color:white"><strong><%=current_user.first_name%></strong></h1>
        <div row d-flex>
          <p style="color:white"><%=current_user.address%></p>
          <%= link_to "edit your details", edit_user_path , style:"color:white; text-decoration:underline"%>
        </div>
      </div>
    </div>
  </div>

  <div class="container user-container">
      <div class="user_grid row">
        <h2>Your plant purchases</h2>
          <% if @purchases.empty? %>
            <p class="mt-3">You have made no purchases yet. Go buy some plants!</p>
          <% else %>
            <div class = "grid__user_cards">
            <% @purchases.each do |plant| %>
              <div class="card-trip">
                <% url = plant.plant.photos.attached? ? cl_image_path(plant.plant.photos.first.key) : "plant1.jpg" %>
                <%= image_tag(url) %>
                <div class="card-trip-infos">
                  <div>
                    <h2 class="py-2"><%= plant.plant.title %></h2>
                    <p><%= "#{plant.plant.description[0..18]}..." %></p>
                  </div>
                  <div>
                    <h2 class="card-trip-pricing"><%= "£#{plant.plant.price_per_clipping}" %></h2>
                  </div>
                </div>
                <div class="listing-container" id="reviews-container" >
                  <% if plant.review %>
                    <% plant.review.rating.times do %>
                      <i class="fa-solid fa-star pb-2" style="color: gold"></i>
                    <% end %>
                    <% else %>
                      <%= link_to 'Review', new_purchase_review_path(plant), {:style=>'font-size:12px'} %>
                      <i class="anim-star-1 fa-solid fa-star pb-2"></i>
                      <i class="anim-star-2 fa-solid fa-star pb-2"></i>
                      <i class="anim-star-3 fa-solid fa-star pb-2"></i>
                      <i class="anim-star-4 fa-solid fa-star pb-2"></i>
                      <i class="anim-star-5 fa-solid fa-star pb-2"></i>
                  <% end %>

                </div>
              </div>
            <% end %>
            </div>
          <% end %>
      </div>

    <div class="user_grid row ">
      <h2>Your Listed plants</h2>
        <% if @listings.empty? %>
          <p class="mt-3">You have made no listings. Sell your plants now!</p>
        <% else %>
          <div class = "grid__user_cards">
            <% @listings.each do |plant| %>
              <div class="card-trip">
                <% url = plant.photos.attached? ? cl_image_path(plant.photos.first.key) : "plant1.jpg" %>
                <%= image_tag(url) %>
                <div class="card-trip-infos">
                  <div>
                    <h2 class="py-2"><%= plant.title %></h2>
                    <p><%= "#{plant.description[0..18]}..." %></p>
                  </div>
                  <h2 class="card-trip-pricing"><%= "£#{plant.price_per_clipping}" %></h2>
                </div>
                <div class="listing-container" >
                  <%= link_to "View listing", plant_path(plant), {:style=>'font-size:12px' }%>
                  <%= link_to "Edit listing", edit_plant_path(plant), {:style=>'font-size:12px' } %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>

    <div class="user_grid row ">
      <h2>Plants you've sold</h2>
        <% if @sales.empty? %>
          <p class="mt-3">You have made no sales!</p>
        <% else %>
        <% total = 0 %>
        <div class = "grid__user_cards">
            <% @sales.each do |plant| %>
              <div class="card-trip">
                <% url = plant.plant.photos.attached? ? cl_image_path(plant.plant.photos.first.key) : "plant1.jpg" %>
                <%= image_tag(url) %>
                <div class="card-trip-infos">
                  <div>
                    <h2 class="py-2"><%= plant.plant.title%></h2>
                    <p><%= "#{plant.plant.description[0..18]}..." %></p>
                  </div>
                    <h2 class="card-trip-pricing"><%= "£#{plant.plant.price_per_clipping}" %></h2>
                    <% total += plant.plant.price_per_clipping * plant.quantity_purchased %>
                </div>
                <div class="listing-container">
                  <p><%= "Plant purchased: #{plant.quantity_purchased}"%></p>
                </div>
                <div class="listing-container">
                  <h2><%= "Total: £#{(plant.plant.price_per_clipping * plant.quantity_purchased).round(2)}"%></h2>
                </div>
              </div>
            <% end %>
        </div>
          <h3 class="mt-3">Total sales: £<%= total.round(2) %> </h3>
      <% end %>
    </div>
</div>
