<div class="container pb-8">
  <div class="user_grid row justify-content-between">
    <div class="col-4 ">
      <h1><strong>Say hi to <%=User.find(params[:id]).first_name%>!</strong></h1>
      <h2>Enjoy browsing this profile</h2>
    </div>
    <div class="col-2" >
        <% if User.find(params[:id]).photo.attached? %>
          <%= cl_image_tag User.find(params[:id]).photo.key, class: "img-thumbnail rounded", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
          <%= image_tag "empty_avatar.jpg", class: "img-thumbnail rounded", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
    </div>
  </div>

  <div class="user_grid row">
    <h2>Personal details</h2>
    <div>
      <h3>Address for plant collection:</h3>
      <p><%=User.find(params[:id]).address%></li></p>
    </div>
  </div>

  <div class="user_grid row">
    <h2>Plant listings by <%= User.find(params[:id]).first_name %></h2>
      <% @other_listings.each do |plant| %>
        <li>ID:<%= plant.id %>. <%= plant.title %> - £<%= plant.price_per_clipping %></li>
        <%= link_to 'View listing', plant_path(plant) %>
      <% end %>
</div>
