<div class="pb-8">
    <div class="user_banner center-block position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("user_banner.jpg")%>);">

      <div class="divider">
        <% if User.find(params[:id]).photo.attached? %>
          <%= cl_image_tag User.find(params[:id]).photo.key, class:"avatar-bordered", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= image_tag "empty_avatar.jpg", class: "avatar-bordered", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="user-title">
          <h1 style="color:white"><strong><%=User.find(params[:id]).first_name%></strong></h1>
          <div row d-flex>
            <p style="color:white"><%=User.find(params[:id]).address%></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container user-container">
      <div class="user_grid row ">
        <h2><%= User.find(params[:id]).first_name %>'s plant listings</h2>
          <% if @other_listings.empty? %>
            <p class="mt-3">No plants on sale yet!</p>
          <% else %>
            <div class = "grid__user_cards">
              <%  @other_listings.each do |plant| %>
                <div class="card-trip">
                  <% url = plant.photos.attached? ? cl_image_path(plant.photos.first.key) : "plant1.jpg" %>
                  <%= link_to plant_path(plant) do %>
                    <%= image_tag(url,:class => "card-img") %>
                  <% end %>
                  <div class="card-trip-infos">
                    <div>
                      <h2 class="py-2"><%= plant.title %></h2>
                      <p><%= "#{plant.description[0..18]}..." %></p>
                    </div>
                    <h2 class="card-trip-pricing"><%= "£#{plant.price_per_clipping}" %></h2>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
</div>
