<div class="container pb-8">
  <div class="user_grid row justify-content-between">
    <div class="col-4 ">
      <h1><strong>Say hi to <%=User.find(params[:id]).first_name%>!</strong></h1>
      <h2>Enjoy browsing this profile</h2>
    </div>
    <div class="col-2" >
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "img-thumbnail rounded", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    </div>
  </div>

  <div class="user_grid row">
    <h2>Personal details</h2>
    <div>
      <h3>Address for plant collection:</h3>
      <p><%=current_user.address%></li></p>
    </div>
  </div>

  <div class="user_grid row">
    <h2>Plant listings by <%= User.find(params[:id]).first_name %></h2>
      <% @other_listings.each do |plant| %>
        <li>ID:<%= plant.id %>. <%= plant.title %> - £<%= plant.price_per_clipping %></li>
        <%= link_to 'See plant', plant_path(plant) %>
      <% end %>
</div>
