<div class="banner center-block" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner_home.jpg")%>);">
  <div class="container">
    <h1>Welcome to Planty</h1>
    <p>Find plant cuttings around your area</p>
    <% if user_signed_in? %>
    <% else %>
    <%= link_to "Join our Community!", new_user_registration_path, class:"btn ui-btn-inline" %>
    <% end %>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>



<div class="container pb-8" id="container__home">
  <div class="d-flex justify-content-between" id="row__home">

      <h3 id="quote">Popular plants</h3>


      <%= link_to "View all plants", plants_path, class:"btn ui-btn-inline" %>

  </div>
  <div class = "grid__cards">
    <% @plants_samples.each do |plant| %>
      <%= link_to plant_path(plant) do %>
        <div class="card-trip">
          <% url = plant.photos.attached? ? cl_image_path(plant.photos.first.key) : "plant1.jpg" %>
          <%= image_tag(url) %>
          <div class="card-trip-infos">
          <div>
            <h2><%= plant.title %></h2>
            <p><%= "#{plant.description[0..18]}..." %></p>
          </div>
          <h2 class="card-trip-pricing"><%= "£#{plant.price_per_clipping}" %></h2>
          <!--<img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />-->
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
