<div class="card-body">
  <div class="seller-details">
    <h2>Posted by: <%= plant.user_id %></h2>
    <p>Rating: </p>
  </div>
  <div class="plant-details">
    <h1><%= plant.title %></h1>
    <p>Color: <%= plant.color %></p>
    <p>Ease of care: <%= plant.care_type %></p>
    <p><%= plant.description %></p>
    <h3>£<%= plant.price_per_clipping %></h3>
    <h3>Number of available clippings: <%= plant.number_of_clippings %></h3>
  </div>
  <div class="purchase-option">
  </div>
</div>
