<div class="details-card-body" data-controller='purchase-controls'>
  <div class="seller-details">
    <p class='seller'>Posted by: <%= plant.user.first_name %></p>
    <p>Rating: <%= plant.user.avg_user_rating %></p>
  </div>
  <hr>
  <div class="plant-details">
    <h1><%= plant.title %></h1>
    <p>Color: <%= plant.color %></p>
    <p>Ease of care: <%= plant.care_type %></p>
    <p><%= plant.description %></p>
  </div>
  <hr>
  <div class="purchase-option">
    <p data-purchase-controls-target="num_available" data-numAvailable="<%= plant.number_of_clippings %>" >Available cuttings: <%= plant.number_of_clippings %></p>
  </div>

  <div class="form-container">
    <div class="header">
      <div class="header-row">
        <div class="big-bold" id="price" data-purchase-controls-target="price_per" data-costPer="<%= plant.price_per_clipping %>">
          <%= pretty_amount(plant.price_per_clipping*100) %>
        </div>
        <div class="small-light"> / CUTTING</div>
      </div>
    </div>
    <%= render "purchase_form", plant: @plant, purchase: @purchase %>
    </div>
</div>
