<h2><%= user.first_name %></h2>
<% if user.photo.attached? %>
  <img src="<%= cl_image_path user.photo.key, gravity: :face, crop: :fill, width: 200, height: 200 %>" class="avatar mt-1">
  <% else %>
  <%= image_tag "empty_avatar.jpg", class: "avatar mt-1" %>
<% end %>
<p class="mt-1">Address:<%=user.address %></p>
<h3>Selling <%= user.plants.count %> plants</h3>
<%= link_to "Check profile", user_path(user), class:"btn mt-1" %>
