<section class="content" style="display: flex;">
  <div class="sidebar">
    <h5>Refine your search</h5>
    <h6>Location</h6>
    <div class="card" style="width: 75%">
      <div class="card-body">
        <p style="font-size:10px">Map goes here</p>
        <p style="font-size:10px">Map goes here</p>
        <p style="font-size:10px">Map goes here</p>
        <p style="font-size:10px">Map goes here</p>
      </div>
    </div>

    <div class="mb-3">
      <label for="TEST" class="form-label" >Plant name</label>
      <select class="form-select" aria-label="Default select example" style="font-size:10px">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="TEST" class="form-label" >Colour</label>
      <select class="form-select" aria-label="Default select example" style="font-size:10px">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="TEST" class="form-label" >Price</label>
      <input type="range" class="form-range" id="customRange1" >
    </div>
  </div>

  <div class="mainpanel">
    <% @plants.each do |plant| %>
      <%= link_to plant_path(plant), class:"text-decoration-none" do %>
        <div class="card-product">
          <% url = plant.photos.attached? ? cl_image_path(plant.photos.first.key) : "plant1.jpg" %>
            <%= image_tag(url) %>
          <!--<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />-->
          <div class="card-product-infos">
            <h2><%= plant.title %></h2>
            <p><%= plant.description %></p>
            <strong><%="£#{plant.price_per_clipping}/per clipping"%></p></strong><p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
