<section class="content pb-8" style="display: flex;">
  <div class="row plants-container">
    <div class="column">
      <% @plants.each do |plant| %>
        <%= link_to plant_path(plant), class:"text-decoration-none" do %>
          <div class="card-product">
            <% url = plant.photos.attached? ? cl_image_path(plant.photos.first.key) : "plant1.jpg" %>
              <%= image_tag(url) %>
          <!--<img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />-->
            <div class="card-product-infos">
              <div class ="pb-2">
                <h2><%= plant.title %></h2>
              </div>
              <div class ="pb-2">
                <p><%= plant.description %></p>
              </div>
              <div>
                <h4><%="£#{plant.price_per_clipping}/per clipping"%></h4>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>


  <!-- some DIRTY design to position the map for the demo, will need to clean up later  -->
    <div class="column">
      <div class='column--map'>
        <h2>Map of users</h2>
        <div class='map-container' style="width: 90%; height:70vh;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</section>
