<div class="container pb-8 pt-3">
  <%= simple_form_for(@charge) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :delivery_address,
      input_html: {data: {geocoder_target: "address"}, class: "d-none"},
      wrapper_html: {data: {controller: "geocoder",
                            geocoder_api_key_value: ENV['MAPBOX_API_KEY']}} %>
    <%= f.input :additional_address %>
    <%= f.input :phone_number %>
    <%= f.button :submit, "Pay £#{sprintf('%.2f', @amount.fdiv(100))} with Card" %>

    <article>

      <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
      <% end %>

      <label class="amount">
      <span>Amount: <%= pretty_amount(@amount) %></span>
      </label>

    </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"

    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="<%= @description %>"
    data-amount="<%= @amount %>"
    data-email="<%= current_user.email %>"
    data-locale="auto"></script>
  <% end %>
</div>
